@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";
